body {
	background: #1e3d4e
}

#banner {
	width: 100%;
}

.principal {
	background: #1d3c5a;
	padding:30px;
}

.titulo-principal{
	padding-left: 20px;
}

.titulo-centralizado{
	text-align: center;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #5cb5e9;
}

.itens {
	font-style: italic;
}

.benefícios{
	background: #082f46;
	padding: 20px;
	
}

ul{
	display: inline-block;
	vertical-align:top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios{
	width: 50%;
}